body
{
    background-color: #3ea1c2;

}

table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
  font-family: "Courier New";
  color:black;
  font-weight: bold;

}

.title
{
    color: blue;
    font-family: 'Courier New';
    text-decoration: underline overline;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
}

#positive
{
  font-family: 'Courier New';
  color:white;
  margin-top: 40px;
  margin-left: 10px;

}

#recovered
{
  font-family: 'Courier New';
  color:#66ff00;
  margin-top: 40px;
  margin-left: 10px;

}

#deaths
{
  font-family: 'Courier New';
  color:red;
  margin-top:40px;
  margin-left: 10px;

}

#map
{
    position: absolute;
    border:5px solid black;
    left:25%;
    top:200px;
    height:400px;
    width:50%;
}
