body
{
    background-color: rgb(25,25,100);
}

.title
{
    color: white;
    font-family: Constantia;
    text-decoration: underline overline;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
}

#map
{
    height:700px;
    width:100%;
}
